<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>103827084514-g64b9qbj5reuviqo4ol4bddrt5mdbpkp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.103827084514-g64b9qbj5reuviqo4ol4bddrt5mdbpkp</string>
	<key>API_KEY</key>
	<string>AIzaSyB1Nj7rVrvWeTNt-5-OwarsMgUjqm00la8</string>
	<key>GCM_SENDER_ID</key>
	<string>103827084514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jarvis.MCS</string>
	<key>PROJECT_ID</key>
	<string>m-c-s-2d0d6</string>
	<key>STORAGE_BUCKET</key>
	<string>m-c-s-2d0d6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:103827084514:ios:955682a4e3cc26ca0b7abb</string>
</dict>
</plist>